@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
:root {
  --accent-color: #ffcf48;
}

body {
  margin: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, p {
  margin: 0;
}

.title {
  font-size: 42px;
}

.description {
  font-size: 20px;
}

@media screen and (max-width: 1200px){
  .title {
    font-size: 38px;
  }
  .description {
    font-size: 18px;
  }

}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .description {
    font-size: 16px;
  }
}