@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p {
  margin: 0;
}


/*.ymaps-2-1-79-listbox__list-item {*/
/*  display: flex !important;*/
/*  align-items: center;*/
/*  min-height: 20px;*/
/*}*/
/*.ymaps-2-1-79-listbox__list-item-text {*/
/*}*/

/*.park {*/
/*}*/

/*.ymaps-2-1-79-listbox__list-item::after {*/
/*  content: url("components/map-block/icons/parks.svg");*/
/*}*/

