.how-to-use-block {
    background-color: ghostwhite;
    height: 50vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.how-to-use-block header {
    margin-top: 50px;
}

.how-to-use-block__title {
    font-size: 42px;
}

.how-to-use-block__steps {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.how-to-use-block__step {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.how-to-use-block__step__number {
    background-color: #ffbf00;
    color: ghostwhite;
    width: 80px;
    height: 80px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.how-to-use-block__step p{
    font-size: 20px;
}


@media screen and (max-width: 1200px){
    .how-to-use-block__title {
      font-size: 38px;
    }
    .how-to-use-block__step p {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    .how-to-use-block header {
        margin-top: 0;
    }
    .how-to-use-block {
        height: 100%;
        padding: 30px ;
    }
    .how-to-use-block__title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .how-to-use-block__step {
        gap: 15px;
    }
    .how-to-use-block__step p {
        font-size: 16px;
    }
    .how-to-use-block__steps {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }


}



