.swiper-block {
    display: flex;
    max-width: 1000px;
    margin: 100px auto;
}

.swiper-block img {
    object-fit: cover;
    height: 200px;
    width: 320px;
}

.swiper-button-prev, .swiper-button-next {
    background-color: white;
    border-radius: 100%;
    padding: 20px 30px;
    margin-top: -40px !important;
    color: var(--accent-color) !important;
}

/*.swiper-button-prev:after, .swiper-button-next:after {*/
/*    padding-right: 20px;*/
/*}*/

.swiper-button-next {
    margin-right: -40px;
}

.swiper-button-prev {
    margin-left: -40px;
}
